<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Fractions Example</mat-card-title>
        <mat-card-subtitle>Mathematics</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/img/preview.png" alt="Profile picture">
    <mat-card-content>
        <p>
            This is an example task which contains fractions exercise.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div style="display: flex; justify-content: end;">
            <button mat-button routerLink="/workspace">Open</button>
        </div>
    </mat-card-actions>
</mat-card>